{% extends "base.html" %}

{% block title %}
    Zola
{% endblock title %}

{% block content %}
<article>
    <h1>{{ section.title }}</h1>

    {% for page in section.pages %}
        <article>
            <header>
                <h3>{{ page.title }}</h3>
            </header>
            <div>
                Date: {{ page.date | date(format="%d/%m/%Y") }}
            </div>
            <section >
                {{ page.summary | safe}}
            </section>
            <footer>
                <a hx-get="{{ page.permalink | safe}}">Read More</a>
            </footer>
        </article>
    {% endfor %}
</article>
    
{% endblock content %}